.services {
    display: flex
}

.column {
    width: 416px;
    display: flex;
    flex-direction: column
}

.column:not(:last-child) {
    margin-right: 20px
}

.card {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: url(../images/water.png);
    width: 416px;
    height: 258px
}

.card:first-child {
    margin-bottom: 24px
}

.card:hover::after {
    opacity: 100%;
    transition: .5s opacity
}

.card::after {
    opacity: 0;
    display: block;
    position: absolute;
    bottom: 0;
    content: '';
    height: 7px;
    width: 100%;
    background-color: #018abe;
    border-radius: 0 0 7px 7px
}

.card .text {
    position: absolute;
    font-family: 'El Messiri', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    bottom: 60px;
    left: 40px
}

.card .date {
    position: absolute;
    top: 30px;
    left: 35px
}