.post {
    display: flex
}

.post-image {
    border-radius: 10px;
    margin: auto
}

.post>.left,
.post>.right {
    width: 50%
}

.post .left {
    margin-right: 67px
}

.post .left .title {
    font-size: 24px;
    font-family: 'El Messiri', serif;
    margin-bottom: 30px
}

.post .left .post-content {
    font-family: 'Proxima Nova', serif;
    line-height: 22px;
    font-size: 16px
}

.post .right {
    margin-left: 67px;
    display: flex
}