@import url(https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap);
@import url(https://storage.nix13.pw/ProximaNova/stylesheet.css);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: 'Proxima Nova', sans-serif;
    background: #162831;
    color: #fff
}

.container {
    max-width: 1296px;
    margin: auto;
    width: 100%
}

.navbar {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    min-width: 655px
}

.navbar-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #fff;
    text-decoration: none
}

.button-header {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    background: #018abe;
    color: #fff;
    padding: 9px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer
}

.decorations {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px
}

.decorations .left-decoration,
.decorations .right-decoration {
    width: 28px;
    height: 14px;
    background: #018abe;
    border-radius: 0 50px
}

.decorations .left-decoration {
    margin-right: 66px
}

.decorations .right-decoration {
    margin-left: 66px;
    transform: matrix(-1, 0, 0, 1, 0, 0)
}

.decorations .decoration-text {
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%
}

.date {
    padding: 6px 12px 5px 12px;
    background: #018abe;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: 45px
}

.footer {
    margin-top: 90px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    border-top: 1px solid #fff;
    padding-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%
}